<h1>Last 5 folders created:</h1>

<div class="table">
  <div class="tr">
    <% @folders.each_with_index do |f,i| %>
      <% if i < 5 %>
        <div class="td thumbs left top dashboard"><%= link_to image_tag(f.cover.url(:thumb)), f %>
          <div><%= distance_of_time_in_words(Time.now, f.created_at) %> ago</div>
          <div><%= link_to f.name, f %></div>
        </div>
      <% end %>
    <% end %>
    <% if @folders.size > 5 %><div class="td"><%= link_to "Show all folders", folders_path %></div><% end %>
  </div>
</div>

<h1>Last 5 comments created:</h1>
<div class="table">
  <div class="tr">
    <% @comments.each_with_index do |c,j| %>
      <% if j < 5 %>
        <div class="td thumbs left top dashboard"><%= link_to image_tag(c.medium.file.url(:quadratic)), c.medium %>
          <div><%= distance_of_time_in_words(Time.now, c.created_at) %> ago</div>
          <div><%= link_to c.medium.folder.name, c.medium.folder %></div>
          <div><%= link_to c.user.username, c.user %></div>
          <div>"<%= truncate(c.text, :length => 50) %>"</div>
        </div>
      <% end %>
    <% end %>
    <% if @comments.size > 5 %><div class="td"><%= link_to "Show all comments", comments_path %></div><% end %>
  </div>
</div>

<% if user_signed_in? %>
<% else %>
  <h1><%= link_to "Log in", new_user_session_path %> to view non-public folders</h1>
<% end %>
