<h1>Listing comments</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th>Medium</th>
    <th>Folder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= comment.text %></td>
    <td><%= comment.user.username %></td>
    <td><span class="thumbs"><%= link_to image_tag(comment.medium.file.url(:thumb)), medium_path(comment.medium) %></span></td>
    <td><%= link_to comment.medium.folder.name, comment.medium.folder %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
