<%= form_for(@folder, :html => { :multipart => true }) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <% for group in Group.find(:all) %>
      <div>
        <%= check_box_tag "folder[group_ids][]", group.id, @folder.groups.include?(group) %>
        <%= group.name %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.hidden_field :role_ids, :value => [ Role.where("name = ?", "Users").first.id ] %>
    <!--
    <%= f.label :role_id %><br />
    <% for role in Role.find(:all) %>
      <div>
        <%= check_box_tag "folder[role_ids][]", role.id, @folder.roles.include?(role) %>
        <%= role.name %>
      </div>
    <% end %>
    -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
