<h1>Listing folders</h1>

<% if can? :create, Folder %>
<div><%= link_to 'New Folder', new_folder_path %></div>
<% end %>

<div><%= will_paginate @folders %></div>

<div class="table">
<% @folders.each_with_index do |f,i| %>
  <% if i%3 == 0 %>
  <div class="tr">
  <% end %>
    <div class="td cover">
      <div><%= link_to image_tag(f.cover.url(:quadratic)), f %></div>
      <div><%= distance_of_time_in_words(Time.now, f.created_at) %> ago</div>
      <div><%= link_to "#{f.name} (#{f.media.size})", f %></div>
    </div>
  <% if ( i%3 == 2 ) || ( i+1 == @folders.size ) %>
  </div>
  <% end %>
<% end %>
</div>

<div><%= will_paginate @folders %></div>
