<div class="table">
  <div class="tr">
    <div class="td">
      <div class="cover float">
        <%= image_tag(@folder.cover.url(:medium)) %>
      </div>
      <div class="foldername left"><%= @folder.name %> <% if can? :update, Folder %>(<%= link_to 'Edit', edit_folder_path(@folder) %>)<% end %> <% if can? :destroy, Folder %>(<%= link_to 'Destroy', @folder, :confirm => 'Are you sure?', :method => :delete %>)<% end %></div>
      <div class="left"><%= @folder.description %></div>
    </div>
  </div>
  <div class="tr">
    <div class="td">
      <div class="table">
        <div class="tr">
          <div class="td left border">
            <% @media.each do |m| %>
            <span class="thumbs"><%= link_to image_tag(m.file.url(:quadratic)), m %></span>
            <% end %>
            <span><% if can? :create, Medium %><%= link_to image_tag("add_48x48.png"), new_folder_medium_path(@folder) %><% end %></span>
          </div>
          <div class="td top border">
            <div class="table">
              <div class="tr">
                <div class="th left">Created by:</div>
                <div class="td left"><%= link_to @folder.user.username, user_path(@folder.user) %></div>
              </div>
              <div class="tr">
                <div class="th left">Tagged with:</div>
                <div class="td left">
                  <% @folder.media.each do |m| %>
                  <%= m.tags.collect(&:name).join(", ") %>
                  <% end %>
                </div>
              </div>
              <div class="tr">
                <div class="th left">Accessible by:</div>
                <div class="td left">
                  <%= @folder.roles.collect(&:name).join(", ") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
