<h1>Listing users</h1>

<% if can? :create, User %>
<div><%= link_to 'New User', new_user_path %></div>
<% end %>

<div><%= will_paginate @users %></div>

<div class="table">
  <div class="tr">
    <div class="th">Email</div>
    <div class="th">Username</div>
    <div class="th">Roles</div>
    <div class="th"># Folders created</div>
    <div class="th">Last log-in at</div>
    <div class="th"></div>
    <div class="th"></div>
    <div class="th"></div>
  </div>
<% @users.each do |user| %>
  <div class="tr <%= cycle("odd", "even") %>">
    <div class="td"><%= user.email %></div>
    <div class="td"><%= user.username %></div>
    <div class="td"><% user.roles.each do |r| %><%= link_to r.name, role_path(r) %> <% end %></div>
    <div class="td"><%= user.folders.size %></div>
    <div class="td"><%= distance_of_time_in_words(Time.now, user.last_sign_in_at) %></div>
    <div class="td"><%= link_to 'Show', user %></div>
    <div class="td"><%= link_to 'Edit', edit_user_path(user) %></div>
    <div class="td"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>
</div>

<div><%= will_paginate @users %></div>
