<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Roles:</b>
  <%= @user.roles.collect(&:name).join(", ") %>
</p>

<p>
<b>Folders created:</b>
<div>
  <% @user.folders.each do |f| %>
    <span class="thumbs">
      <%= link_to image_tag(f.cover(:thumb)), folder_path(f) %>
    </span>
  <% end %>
</div>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
