<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<b>Roles:</b>
<ul>
  <% @user.roles.each do |r| %>
    <li><%= link_to r.name, role_path(r) %></li>
  <% end %>
</ul>
</p>

<b>Groups:</b>
<ul>
  <% @user.groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>
</p>

<p>
  <b>Folders created:</b>
  <ul>
  <% @user.folders.each do |f| %>
    <li><%= link_to f.name, folder_path(f) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
