<h1>Listing permissions</h1>

<p><%= will_paginate @permissions %></p>
<div class="table">
  <div class="tr">
    <div class="th">Action</div>
    <div class="th">Subject class</div>
    <div class="th">Subject</div>
    <div class="th"></div>
    <div class="th"></div>
    <div class="th"></div>
  </div>

<% @permissions.each do |permission| %>
  <div class="tr">
    <div class="td"><%= permission.action %></div>
    <div class="td"><%= permission.subject_class %></div>
    <div class="td"><%= permission.subject_id %></div>
    <div class="td"><%= link_to 'Show', permission %></div>
    <div class="td"><%= link_to 'Edit', edit_permission_path(permission) %></div>
    <div class="td"><%= link_to 'Destroy', permission, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>
</div>

<br />

<%= link_to image_tag("add_32x32.png"), new_permission_path %>
<p><%= will_paginate @permissions %></p>
