<h1>Listing tags</h1>

<% if can? :create, Tag %>
<div><%= link_to image_tag("add_32x32.png"), new_tag_path %></div>
<% end %>

<div><%= will_paginate @tags %></div>

<div class="table">
  <div class="tr">
    <div class="th">Name</div>
    <div class="th"># Media</div>
    <div class="th">Created at</div>
    <div class="th"></div>
    <div class="th"></div>
  </div>
<% @tags.each do |tag| %>
  <div class="tr <%= cycle('odd', 'even') %>">
    <div class="td"><%= link_to tag.name, tag_path(tag) %></div>
    <div class="td"><%= tag.media.size %></div>
    <div class="td"><%= distance_of_time_in_words(Time.now, tag.created_at) %> ago</div>
    <div class="td"><%= link_to 'Edit', edit_tag_path(tag) %></div>
    <div class="td"><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>
</div>

<div><%= will_paginate @tags %></div>
