<p id="notice"><%= notice %></p>

<p>
These media are tagged with <i><%= @tag.name %></i>:
</p>
<p>
  <% for medium in @tag.media %>
    <span class="thumbs"><%= link_to image_tag(medium.file.url(:quadratic)), medium_path(medium) %></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
