<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
<b>User:</b>
  <% @role.users.each do |u| %>
    <%= link_to u.username, u %>
  <% end %>
</p>
<b>Folders that can be accessed:</b>
  <ul>
  <% @role.folders.each do |f| %>
    <li><%= link_to f.name, f %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
