<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= image_tag @medium.file.url(:medium) %>
</p>
<p>
  <b>Note:</b>
  <%= @medium.note %>
</p>
<p>
  <%= @medium.comments.find_each do |c| %>
    <%= c.user.username %> said on <%= c.created_at %>: <%= c.text %><br/>
  <% end %>
</p>

<%= link_to image_tag("previous_48x48.png"), medium_path(@medium.previous) %>
<%= link_to image_tag("up_48x48.png"), folder_path(@medium.up) %>
<%= link_to image_tag("next_48x48.png"), medium_path(@medium.next) %>
<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
