<div>
  <b>Folder:</b>
  <%= image_tag @medium.folder.cover.url(:thumb) %><%= @medium.folder.name %>
</div>
<div class="cover float">
  <%= image_tag @medium.file.url(:medium) %>
</div>
<div><%= link_to "Download file at original size", @medium.file.url(:original) %></div>
<div>
  <%= link_to "Add comment", new_medium_comment_path(@medium) %><br/>
  <% @medium.comments.order("created_at DESC").each do |c| %>
    On <%= c.created_at.to_formatted_s(:short) %>: <%= c.user.username %> said "<%= c.text %>"<br/>
  <% end %>
</div>
<div>
  Tags that are associated with this medium:<br/>
  <ul>
  <% @medium.tags.each do |t| %>
    <li><%= link_to t.name, tag_path(t) %></li>
  <% end %>
  </ul>
</div>
<div>
  Roles that can access this medium:<br/>
  <ul>
  <% @medium.folder.roles.each do |r| %>
    <li><%= link_to r.name, role_path(r) %></li>
  <% end %>
  </ul>
</div>
<div class="actions">
  <%= link_to image_tag("previous_48x48.png"), medium_path(@medium.previous) %>
  <%= link_to image_tag("up_48x48.png"), folder_path(@medium.up) %>
  <%= link_to image_tag("next_48x48.png"), medium_path(@medium.next) %>
  <%= link_to 'Edit', edit_medium_path(@medium) %>
</div>
