<div class="table">
  <div class="tr">
    <div class="td">
      <%= link_to image_tag("previous_48x48.png"), medium_path(@medium.previous) %>
    </div>
    <div class="td cover">
      <%= link_to (image_tag @medium.file.url(:medium)), @medium.file.url(:original) %>
    </div>
    <div class="td">
      <%= link_to image_tag("next_48x48.png"), medium_path(@medium.next) %>
    </div>
  </div>
</div>
<div class="table">
  <div class="tr">
    <div class="td">
      <div class="table">
        <div class="tr">
          <div class="td border top">
            <div class="table">
              <div class="tr">
                <div class="td left">
                  <% if can? :create, Comment %>
                    <%= link_to "Add comment", new_medium_comment_path(@medium) %>
                  <% end %>
                </div>
                <div class="td">
                </div>
              </div>
              <% @medium.comments.order("created_at DESC").each do |c| %>
                <div class="tr <%= cycle("odd", "even") %>">
                <div class="td top left">
                  <%= c.user.username %>:
                </div>
                <div class="td top left">
                  "<%= c.text %>"
                </div>
              </div>
            <% end %>
            </div>
          </div>
          <div class="td border top">
            <div class="table">
              <div class="tr">
                <div class="th left"></div>
                <div class="td left"><% if can? :update, Medium %><%= link_to "Edit", edit_medium_path(@medium) %><% end %></div>
              </div>
              <div class="tr">
                <div class="th left">Created by:</div>
                <div class="td left"><%= @medium.folder.user.username %></div>
              </div>
              <div class="tr">
                <div class="th left">Tagged with:</div>
                <div class="td left"><%= @medium.tags.collect(&:name).join(", ") %></div>
              </div>
              <div class="tr">
                <div class="th left">Accessible by:</div>
                <div class="td left"><%= @medium.folder.roles.collect(&:name).join(", ") %></div>
              </div>
              <div class="tr">
                <div class="th left">in Folder:</div>
                <div class="td left thumbs"><%= link_to (image_tag @medium.folder.cover.url(:thumb)), @medium.folder, :title => @medium.folder.name %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="table hover">
  <div class="tr">
    <div class="td cover float">
      <%= link_to (image_tag @medium.file.url(:medium)), @medium.file.url(:original) %>
    </div>
  </div>
  <div class="tr">
    <div class="td">
<div class="table hide">
  <div class="tr">
    <div class="td right">
      <b>Folder:</b>
    </div>
    <div class="td">
      <%= image_tag @medium.folder.cover.url(:thumb) %><br/>
      <%= @medium.folder.name %>
    </div>
    <div class="td right">
      <b>Roles:</b>
    </div>
    <div class="td">
      <%= @medium.folder.roles.collect(&:name).join(", ") %>
    </div>
    <div class="td right">
      <b>Tags:</b>
    </div>
    <div class="td">
      <%= @medium.tags.collect(&:name).join(", ") %>
    </div>
  </div>
</div>
<div class="table hide">
  <div class="tr">
    <div class="td">
      <%= link_to "Add comment", new_medium_comment_path(@medium) %>
    </div>
    <div class="td">
    </div>
    <div class="td">
    </div>
  </div>
  <% @medium.comments.order("created_at DESC").each do |c| %>
    <div class="tr">
      <div class="td">
        On <%= c.created_at.to_formatted_s(:short) %>
      </div>
      <div class="td">
        <%= c.user.username %> said:
      </div>
      <div class="td">
        "<%= c.text %>"
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>
</div>
<div class="actions">
  <%= link_to image_tag("previous_48x48.png"), medium_path(@medium.previous) %>
  <%= link_to image_tag("up_48x48.png"), folder_path(@medium.up) %>
  <%= link_to image_tag("next_48x48.png"), medium_path(@medium.next) %>
  <%= link_to 'Edit', edit_medium_path(@medium) %>
</div>
-->
