<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= image_tag @medium.file.url %>
</p>
<p>
  <b>Note:</b>
  <%= @medium.note %>
</p>


<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
