<!DOCTYPE html>
<html>
<head>
  <title>Framework2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="menu bar">
    <%= image_tag "help_64x64.png" %>
    <span>
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'folders', folders_path %> | <%= link_to 'tags', tags_path %> | <%= link_to 'media', media_path %> | <%= link_to 'comments', comments_path %></li>
        <li><%= link_to 'users', users_path %> | <%= link_to 'roles', roles_path %> | <%= link_to 'permissions', permissions_path %></li>
        <li><%= render 'devise/menu/login_items' %></li>
    </span>
  </div>
  <div class="table">
    <div class="tr top">
      <div class="td left">
      </div>
      <div class="td center">
        <div class="infobar">
          <% if notice %>
          <div class="info bar">
            <%= image_tag "info_64x64.png" %>
            <%= notice %>
          </div>
          <% end %>
          <% if alert %>
          <div class="error bar">
            <%= image_tag "error_64x64.png" %>
            <%= alert %>
          </div>
          <% end %>
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <div class="td right">
      </div>
    </div>
    <div class="tr middle">
      <div class="td left">
      </div>
      <div class="td center">
      </div>
      <div class="td right">
      </div>
    </div>
    <div class="tr bottom">
      <div class="td left">
      </div>
      <div class="td center">
      </div>
      <div class="td right">
      </div>
    </div>
  </div>
</body>
</html>
