<!DOCTYPE html>
<html>
<head>
  <title>Framework2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="header">
    placeholder header
  </div>
  <div class="breadcrumb">
    placeholder breadcrumb
  </div>
  <div class="table">
    <div class="tr">
      <div class="td left">
        <ul>
          <li><%= link_to 'folders', folders_path %></li>
          <li><%= link_to 'tags', tags_path %></li>
          <li><%= link_to 'media', media_path %></li>
          <li><%= link_to 'users', users_path %></li>
          <li><%= link_to 'roles', roles_path %></li>
          <li><%= link_to 'permissions', permissions_path %></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
      <div class="td">
        <div class="infobar">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
